# TP NoSQL

Prénom : Dan

Nom : Sebag

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [18]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [33]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://mongo_user:gQHn1hWMwtIgVpR6@cluster0.7j77b.mongodb.net/'
#ancien URL : mongodb+srv://mongo_user:gQHn1hWMwtIgVpR6@cluster0.7j77b.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'rbnb']

1. Combien de logements sont la base de données ?

In [34]:
question1 = db.rbnb.count_documents({"name":{"$exists": True}})
print("Le nombre de logements est de :",question1)

Le nombre de logements est de : 5555

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

In [21]:
question2 = db.rbnb.aggregate([
    {
        "$group": {
            "_id": "$address.street", 
            "moy": {"$avg": "$price"}   
        }
    },
    {
        "$sort": {"moy":-1}
    }
])
print("La liste des moyenne des loyer par ville présente :\n\n",pd.DataFrame(list(question2)))

La liste des moyenne des loyer par ville présente :

                                                    _id  \
0                            Sarıyer, Istanbul, Turkey
1                                        HK, Hong Kong
2        Sai Kung District, New Territories, Hong Kong
3                                  N/A, N/A, Hong Kong
4                             ADALAR, Istanbul, Turkey
..                                                 ...
672  Barcelona, a tres cuadras de La Sagrada Flia.,...
673                   North Parramatta, NSW, Australia
674                         Sanguedo, Aveiro, Portugal
675                            Gandra, Porto, Portugal
676                          Custóias, Porto, Portugal

                                     moy
0                                4745.00
1    4398.666666666666666666666666666667
2                                3595.00
3                                2999.00
4                                2979.00
..                                   ...
672                                20.00
673                                14.00
674                                14.00
675                                13.00
676                                12.00

[677 rows x 2 columns]

3. Afficher la liste de tous les différents équipements qui existent.

In [22]:
question3 = db.rbnb.distinct("amenities")
print("La liste de tout les équipements présente :\n",pd.DataFrame(list(question3)))

La liste de tout les équipements présente :
                                               0
0
1                              24-hour check-in
2                         Accessible-height bed
3                      Accessible-height toilet
4                              Air conditioning
..                                          ...
181                                        Wifi
182                               Window guards
183                                      toilet
184  translation missing: en.hosting_amenity_49
185  translation missing: en.hosting_amenity_50

[186 rows x 1 columns]

4. Combien de propriétés incluent le Wifi dans les équipements ?

In [23]:
question4 = db.rbnb.count_documents({
    "amenities": "Wifi"
})
print("Le nombre de logements rbnb qui présente l'équipement Wifi est de : ",question4)

Le nombre de logements rbnb qui présente l'équipement Wifi est de :  5303

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

In [17]:
question5 = db.rbnb.find({}, {
    "_id":0, "name": 1, "bedrooms": 1, "beds":1
})
print("Le nom de tout les logements ainsi que le nombre de chambres et de lits qu'ils continnent se présentent dans le dataFrame ci-dessous :\n\n",pd.DataFrame(list(question5)))

Le nom de tout les logements ainsi que le nombre de chambres et de lits qu'ils continnent se présentent dans le dataFrame ci-dessous :

                                                   name  bedrooms  beds
0                          Apt Linda Vista Lagoa - Rio       1.0   1.0
1                   Ótimo Apto proximo Parque Olimpico       2.0   2.0
2                       Modern Spacious 1 Bedroom Loft       1.0   2.0
3     Ligne verte - à 15 min de métro du centre ville.       0.0   1.0
4                              Ribeira Charming Duplex       3.0   5.0
...                                                ...       ...   ...
5550     Estudio en el casco antiguo. Alquiler mensual       0.0   3.0
5551  Qto Aconchegante no em frente ao Parque Olímpico       1.0   1.0
5552                  StayIN Oporto Música - Apartment       8.0   8.0
5553                                      Quarto Legal       1.0   1.0
5554                                                         1.0   1.0

[5555 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

In [24]:
question6 = db.rbnb.find(
    { "address.street": "Porto, Porto, Portugal" },
    {"_id":0, "name": 1, "price": 1 }
)
print("Le nom et le prix des logements situés à Porto sont représentés dans le DataFrame ci-dessous : \n\n",pd.DataFrame(list(question6)))

Le nom et le prix des logements situés à Porto sont représentés dans le DataFrame ci-dessous :

                                     name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4                     Ribeira Smart Flat   80.00
..                                   ...     ...
346         Number283 - Your home abroad   48.00
347        Cozy apartment downtown Porto   58.00
348                   Soares Guest House   90.00
349   Central, Modern, University, Metro   41.00
350     StayIN Oporto Música - Apartment  500.00

[351 rows x 2 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

In [177]:
question7 = db.rbnb.aggregate([
    {"$unwind":"$reviews"},
    {"$group": {"_id":"$name", "rev":{"$sum":1}}},
    {"$sort": {"rev":-1}},
    {"$limit":5}
])
print("Les Cinq hotes les plus populaires sont : \n")
pd.DataFrame(list(question7))

Les Cinq hotes les plus populaires sont :

                                                 _id  rev
0                    #Private Studio - Waikiki Dream  533
1  Near Airport private room, 2 bedroom granny fl...  469
2           La Sagrada Familia (and metro) 4 blocks!  463
3                PRIVATE Room in Spacious, Quiet Apt  420
4                      traditional and Charming room  408

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

In [195]:
question8 = db.rbnb.aggregate([
    {"$group": {"_id":"$address.street", "nb_rbnb":{"$sum":1}}},
    {"$sort": {"nb_rbnb":-1}},
    {"$limit":6}
])
print("Les villes ayant le plus de logements disponibles à la location sont : ")
pd.DataFrame(list(question8))

Les villes ayant le plus de logements disponibles à la location sont :

                                      _id  nb_rbnb
0                Montréal, Québec, Canada      492
1             Barcelona, Catalunya, Spain      427
2                  Porto, Porto, Portugal      351
3  Rio de Janeiro, Rio de Janeiro, Brazil      326
4             New York, NY, United States      284
5             Brooklyn, NY, United States      235

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

In [222]:
question9 = db.rbnb.aggregate([
    { "$match": { "guests_included": { "$gte": 4 } } },
    { "$match": { "price": { "$lte": 300 } } },
    { "$group": {"_id": "Nombre de RBNB", "nb_rbnb":{"$sum":1}}}
])
print('Le nombre de RBNB qui autorise plus de 4 invités et ont une caution de moins de 300€ est de "411"')
pd.DataFrame(list(question9))

Le nombre de RBNB qui autorise plus de 4 invités et ont une caution de moins de 300€ est de "411"

              _id  nb_rbnb
0  Nombre de RBNB      411

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

In [253]:
question10 = db.rbnb.aggregate([
    {"$unwind": "$reviews"},
    {"$group": {
        "_id": "$reviews.reviewer_id",
        "nom_utilisateur": {"$first": "$reviews.reviewer_name"},
        "count": {"$sum": 1}
    }},
    {"$sort": {"count": -1}},
    {"$limit": 20},
    {"$project": {
        "_id": 0,
        "id_utilisateur": "$_id",
        "nom_utilisateur": 1
    }}
])

print("Les 20 utilisateurs qui ont fait le plus de commentaire sont")
print(pd.DataFrame(list(question10)))

Les 20 utilisateurs qui ont fait le plus de commentaire sont
   nom_utilisateur id_utilisateur
0           Filipe       20775242
1             Nick       67084875
2              Uge        2961855
3             Lisa       20991911
4            Thien      162027327
5            David        1705870
6             Todd       60816198
7         Courtney       55241576
8             Jodi       12679057
9             Lisa       69140895
10           David       78093968
11           Lance       47303133
12             Dan       34005800
13          Pierre       93859831
14            Erik       61469899
15         Gonzalo       73708321
16           Chris       86665925
17         Branden      128210181
18           Megan       25715809
19           Assis       76782210

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

In [273]:
question11 = db.rbnb.aggregate([
    {"$match": {"address.street": "sydney, NSW, Australia"}},
    {"$group": {
        "_id": None,
        "note_moyenne": {"$avg": "$review_scores.review_scores_rating"}
    }}
])

print("La note moyenne des logements a sydney est de 95/100 : ")
pd.DataFrame(list(question11))

La note moyenne des logements a sydney est de 95/100 :

    _id  note_moyenne
0  None          95.0

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom

In [285]:
question12 = db.rbnb.find(
    {"name": {"$regex": ".*park.*", "$options": "i"}},
    {"_id": 0, "name": 1}
)

print('Voici la liste des logements qui contiennt "park" dans leur nom : ')
pd.DataFrame(list(question12))

Voici la liste des logements qui contiennt "park" dans leur nom :

                                                  name
0    Sydney Hyde Park City Apartment (checkin from ...
1                     UWS Brownstone Near Central Park
2                     Triple room Barcelona Guell park
3                    Park Guell apartment with terrace
4    aOceanside Hawaii Apartment Studio Kitchen Par...
..                                                 ...
161                 Park Slope Private Bed+Livingroom!
162                    Waikiki Condo with Free Parking
163  Sydney Studio in Glebe Close to CBD. SparklinC...
164  1921 15kms from Sydney CBD with Pool Spa parking.
165                  Big 2bdm, Views, WIFI and carpark

[166 rows x 1 columns]

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.